.popup__input {
  border-width: 0 0 1px;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0;
  outline: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input::placeholder {
  color: #C4C4C4;
}

@media screen and (max-width: 559px) {
  .popup__input {
    padding: 0 0 9px 0;
  }
}