.popup__button {
  padding: 14px 0 18px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 18px;
}

.popup__button:hover {
  opacity: 0.8;
  transition: 0.3s ease;
}

.popup__button:disabled {
  padding: 13px 123px 17px 124px;
  color: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
  background-color: transparent;
  cursor: default;
  user-select: none;
  pointer-events: none;
}

@media screen and (max-width: 559px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
    padding: 14px 0;
    margin-top: 15px;
    height: 46px;
  }
}